.container-new-investment {
  max-width: 800px;
  margin: auto;
  padding: 0px 10px;
}

.new-investment-title {
  font-size: 21px;
  font-weight: bold;
}

.card {
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 25px 50px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card > section {
  width: 320px;
  margin-bottom: 20px;
}

.card > label {
  width: 320px;
  margin-bottom: 10px;
}

.card > label > span {
  font-weight: bold;
  margin-left: 5px;
}

.title {
  font-size: 17px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
}

.w-full {
  width: 100%;
}

.dragger{
  width: 100%;
  height: 120px;
}
